.features-titles {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  color: #2e2f42;
}

.features-items{
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.features-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0px 15px;
}

.features .container{
  padding: 120px 0px;
}
