.header-link {
  font-weight: 700;
  font-size: 18px;

  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo {
  color: #4d5ae5;
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0px;

  display: block;
}

.header-nav-link:hover {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  padding: 24px 0px;
}

.contact-link:hover {
  color: #404bbf;
}

.header-nav-list{
  display: flex;
  gap: 40px;
}

.contact-list{
  display: flex;
  gap: 40px;
}

.header .container{
  display: flex;
  align-items: center;
}

.header{
  border-bottom: 1px solid #E7E9FC;
}

.header-nav{
  margin-left: 76px;
}

.contact {
    margin-left: auto;
}