.team-title{
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
}

.team{
    background-color: #F4F4FD;
}

.team-people{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 0 0 4px 4px;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
}

.team-disc{
    text-align: center;
}

.team-contant{
    padding: 32px 16px;
    gap: 8px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team .container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0px 15px;
}

.team-people img {
    display: block;
}