.team-title{
    font-weight: 700;
    font-size: 36px;
    
    /* line-height: 40px; */
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
}

.team{
    background-color: #F4F4FD;
}

.team-people{
    background-color: #FFFFFF;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    
    /* line-height: 24px; */
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
}

.team-disc{
    text-align: center;
}